<html>
<head>
	<title>About</title>

	<style type="text/css">

#main
{ width: 800px;
	height: 400px;
	background-color: white;
	margin-left: 200px;
	margin-top: 50px;
	border-radius: 25px;

}

h1{
	text-align: center;
	padding-top: 20px;
}

p
{
	padding: 20px;
	text-align: center;
}

	</style>

</head>
<body>

	<div id="main">
		<h1> Our story </h1>
		
		<p> Bangmybhabhi.com was founded in April 2015 by Rahul Sanghi, better known in his hometown of Mumbai as the Rasta Shaman. <br> <br>

			Sanghi conceived of this platform whilst 'trippin ballsaks' one day in Birmingham. The object of his meditation was the Indian nation and its catalogue of ailments.

			<br> <br>

			Why was such a large, proud, and powerful nation beset by so many social ills? Jah came to the Shaman during his trip and revealed to him that the answer was sex. There was too little sex in India. Nobody was getting humped!

			<br> <br> Upon hearing this, the Shaman's eyes lit up. Let there be sex, he exclaimed! And so the idea for bangmybhabhi.com was born: a digital platform for Indian citizens to get boned without any consideration of their age, colour, gender, caste, weight, and religion. A truly progressive portal for a new and sexified India. Jai Hoes. </p>
	</div>

</body>
</html>
