 <div class="jumbotron center">
  <h1> Bang my what!? </h1>
  <p> Coming soon </p>


<% if user_signed_in? %>

You're signed in bitch

<% else %>

 	<div>
 		<%= link_to "Log in", new_user_session_path, class: "btn btn-danger btn-lg" %>
 		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-warning btn-lg" %>
 	</div>
<% end %>

  
</div>


