 <div class="jumbotron">
  <h1>Hello, life!</h1>
  <p>Jesus will save you!</p>
  <p><a class="btn btn-success btn-lg" href="#" role="button">Click here or your family is in danger</a></p>
</div>
<h1> Just kidding, your family is not in danger </h1>
<p> But I am testing out this button </p>

